
{
    /* --color-primary
   /*  */
   
    /*  */
    /* --color-secondary  */

    --fs-normal: 16px; 
    --fs-large: 24px; 
}

* { 
    margin: 0;
    padding: 0; 
    /* border: .1px yellowgreen solid; */
}



.header-container { 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    height: 100vh;
    gap: 20px;
   

}

#navbar { 
    height: 100vh;
    overflow: scroll;
}

#navbar>ul { 
    font-size: var(--fs-large);
}

#navbar>ul>li { 
    padding: 1rem;
    list-style: none;
}
/* Media in nav */
#nav-media { 

    font-size: var(--fs-normal) !important;
    
}

.icon { 
    display: inline;
    position: relative;
    justify-content: center;
    font-weight: 600;
    

}

.text { 
    position: absolute;
    transition: .5s;
    z-index: -1;
    opacity: 0;
   
}

#nav-media>li:hover>.text{ 
    opacity: 1;
    transform: translateX(10px);
    background-color: aqua;
    padding: .5em; 
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    font-size: 20px;
}


/* Welcome page */
#welcome-section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width:100%; 
}

.name { 
    font-size: 32px;
    letter-spacing: .2rem;
    position: relative;

}

.name>span { 
    font-size:64px;
}

#welcome-section>div { 
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

#projects { 
    text-align: center;
    height: 100vh; 
    width:100%; 

}

#about-me { 
    text-align: center;
    
}

footer { 
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 50vh;

}

#footer-media { 
    display: flex;
    flex-direction: row;
    
}